version: '3.8'
services:
  backend:
    build: ./backend
    environment:
      - GITHUB_USERNAME=${GITHUB_USERNAME}
      - GITHUB_TOKEN=${GITHUB_TOKEN}
      - THM_USERNAME=${THM_USERNAME}
      - THM_SESSION=${THM_SESSION}
    ports:
      - "8080:8080"
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
